language: php
php:
- 7.1
- 7.2
cache:
  directories:
  - "$HOME/.composer/cache"
env:
  secure: "ZX3qJUmPT8vGSnvQmID6Cqs3LQnlX/ioQKvLhTfprL2nueBc8Rz0yTM8sQ9uYF3XDIJxLZgTIwQ5AO8J3Q/MU4XOs2cROFCZjTGHjrY4eZ/TWKPNKJ55ntu6A1vo5KLUnxLc8izfDcQzWIAQWyikgmQksw/FXEkCtayYUZQSUvoTHmBR8OkG8qLc7qu1FjjO18zckOcEi0RAaeD+5d2YfzjIhh9yu0H5Gz4EIIQqjzpcrZeSmjxlHjNEjc0XUTUso8zLjXZtoG6Uc9LiumPSfRnqZ8IzBoa7azEf4quU/dFqSQaVk4Gwms6xihgHl6MRHTMVyKnmjGduVv8ZwGiNAtRdCWWWntXxbcdP7DvckfAf+Crur/gxoIIeFmtu5rWqn+i5SQdr9IfQcKhiPmiN5he9HhQx1tva33WTmlGQTw5Se0SmnZPm58QTzZjfOfox6k4FExGrcp8wiK6d8Uy7zPakb/dLO3mrnriCPGbqpvDYYVOqebynDpYAQeXSMeUMnxtND1QAnrMhFjivdu1mZ7vj/b3RMSlvI4vqAw4yKL9oNgh9Fjd3sd0MDQwEjBLhFkMEe22FqCYrpBmBki8AhLnaGvc+KNjTKGBUxaXbF+MvbthwfBYMon9VKbIIOOkkzQnA8eGnDSvTarB5kuVolj5zZ+kT4IfWOR05Oq+b7vA="
branches:
  only:
  - master
  - "/^v\\d+\\.\\d+(\\.\\d+)?(-\\S*)?$/"
before_install:
- phpenv config-rm xdebug.ini
install: composer install
script:
- "./vendor/bin/phpstan analyse"
- php vendor/bin/phpunit
- php vendor/bin/phpunit --group aws-integration
- "./vendor/bin/phpcs"
after_success:
- "php -d memory_limit=1000m ./vendor/bin/apigen generate src --destination docs"
addons:
  artifacts:
    s3_region: us-east-1
    target_paths: "$TRAVIS_REPO_SLUG/$TRAVIS_BRANCH"
    paths:
    - "./docs"
notifications:
  slack:
    rooms:
      secure: "piTlsJVbfpe5zPgEyusCe6yyhvsOBcdbrgOgeiSl9ApoE8WY7r/KbPW77Cly8oj501awm89acCSqdXQXT/6wvUQ85QZ7Iuh+P9MYpm5fsC8XqtJC6Pa1AJdKMafcfHtZWsxqvqFMuxO2XH2sun5IU3+0mrxq4q6we4LTPqEiuA2ofJWUTD+GLRBLRDiShmEXKc+1D0xa4ryf3Og6Sm+CL9fcItkGUuDcEMMz1peGs3EH4vO3vsJ92gp2c0gu2RwJiP1SwtllH5YOeZgo8y1ewwn2Wlt5w/aqH6cJnMgTEHFHECMyJR83idfE4qOYlX2K6MGKvlf/s3lXasI/UPbPnQV15Qd6cLB/8WCBiFgj11cx5OLD2fmgCeho7MgpThhnM3I1xaAshrTg7F13XXGyuam+GrdvrMwQOyVILxDneiZ5FjI4al6JSuk1QVQYea8cprZNpiVE3soQJ9860Ej8bUmBB9EGbrqPxxLsP9vE6n++gMDZszYEmBpFyJrFAA5T6fZ8jvcO1m5+2ehT3WvsDgRH1uo9fWMFMz6EblagEnd1iSkMbJ7yZ+Vl8D4+rhIp99sScYpsSIQc1LDS8pSFE0PH2k5sV9uBmDEdalCW/rrCodfBSK3/BxN0YrxpoEckewtM731jzYlxissUbNsDLKrh7XESTTDpiEv/k6wmv1A="
  on_success: change
  on_failure: always
after_script:
- "php ./docversions.php"